body, html{
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace;
}
.welcome{
  background-color:#0A0;
}
.error{
  background-color:#A00;
}
#buttonContainer{
  float: left;
  position: fixed;
  z-index: 999;
  top: 5%;
  right: 5%;
}
#logContainer{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  -webkit-touch-callout: none !important;
}
#ipContainer{
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#ipField{
    color: #0A0;
    border: 0;
    font-size: 40px;
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
::-webkit-input-placeholder {
   color: #565656;
}

:-moz-placeholder { /* Firefox 18- */
   color: #565656;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #565656;
}

:-ms-input-placeholder {
   color: #565656;
}
a.button {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  display: block;
  background: #00AA00;
  height: 15px;
  width: 15px;
  text-align: center;
  padding: 20px;
  margin: 4px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  border: solid 3px #008300;
}

a.button:active{
  background: #008300;
  color: #333;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body{
    font-size: 12px;
  }

  #buttonContainer{
    display: block;
    top: 35%;
    right: 5%;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  body{
    font-size: 14px;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #buttonContainer{
    display: block;
    float: none;
    top: 35%;
    right: 5%;
  }

  #ipContainer{
    width: 250px;
    margin-top: 20px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #ipField{
      width: 100%;
      font-size: 20px;
  }
}
